body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background:#666;
    background-image: url('assets/45degreee_fabric.png');
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding-top: 2vh;
    background-image: url('assets/senor_sabotender.png');
    background-size: 15%;
    background-position: bottom right;
    background-repeat: no-repeat;
}

.header {
    text-align: center;
    font-family: "Oswald", serif;
    font-weight: 400;
    font-size: 20px;
    flex: 0 0 auto;
    color: #863030;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 1px -1px 0 rgba(255, 255, 255, 0.3), -1px 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.header h1 {
    font-weight: 400;
    font-size: 40px;
    margin: 0;
}


.cacpot-container {
    display: flex;
    padding: 2vh 5vh;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    border-color: black;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.668);
}

.arrow {
    text-align: center;
    font-size: 15px;
    width: 39px;
    height: 39px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    outline: none;
}


.down-arrow {
    background-image: url('assets/cacpot_arrow_down.png');
}

.right-arrow {
    background-image: url('assets/cacpot_arrow_right.png');
}

.diag-left-arrow {
    background-image: url('assets/cacpot_arrow_diag_left.png');
}

.diag-right-arrow {
    background-image: url('assets/cacpot_arrow_diag_right.png');
}

.result-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex:1;
    gap: 10px;
    margin-top: 20px;
    font-family: "Oswald", sans-serif;
    font-weight: 350;
    font-size: 30px;
}

button {
    font-family: "Oswald", sans-serif;
    font-weight: 350;
    font-size: 30px;
    color: #863030;
    background-image: url('assets/hidden_cactpot_node.png');
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 1px -1px 0 rgba(255, 255, 255, 0.3), -1px 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.3);
    background-repeat: no-repeat;
    background-position: center;
    border: #b6b6b6;
    background-color: transparent;
}

.num-input {
    padding: 5px;
}

input {
    width: 75px;
    height: 75px;
    text-align: center;
    font-size: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 350;
    color: #863030;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.3), 1px -1px 0 rgba(255, 255, 255, 0.3), -1px 1px 0 rgba(255, 255, 255, 0.3), 1px 1px 0 rgba(255, 255, 255, 0.3);
    background-image: url('assets/hidden_cactpot_node.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
    outline: none;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


input.filled {
    background-image: url('assets/shown_cactpot_node.png');
}

input.disabled {
    cursor: not-allowed;
    background-image: url('assets/hidden_cactpot_node.png');
}

input:disabled {
    cursor: not-allowed;
}

footer {
    padding: 20px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    color: #b6b6b6;
    border-top: 1px solid #121212;
    background-color: #1b1b1b;
    margin-top: auto;
}

footer p {
    margin: 0;
    line-height: 1.4;
}